header{
    background-color: beige;
    margin:0;padding:0;
}

body{
    background-color: 	Ivory;
    margin:0;
}

h2{
    color: midnightblue;
    font-family: Dotum;
    text-align : center;
}

#basic-button{
    letter-spacing: 5px;
    text-align : center;
}